@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #eff1f5;
  --foreground: #4c4f69;
  --primary: #8839ef;
  --primary-foreground: #eff1f5;
  --muted: #e6e9ef;
  --muted-foreground: #6c6f85;
  --destructive: #d20f39;
  --destructive-foreground: #eff1f5;
  --border: #ccd0da;
  --ring: #7287fd;
}

[data-theme='dark'] {
  --background: #303446;
  --foreground: #c6d0f5;
  --primary: #ca9ee6;
  --primary-foreground: #303446;
  --muted: #414559;
  --muted-foreground: #a5adce;
  --destructive: #e78284;
  --destructive-foreground: #303446;
  --border: #51576d;
  --ring: #babbf1;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}
